@charset "utf-8";
/* CSS Document */



.play{width:75%;
height:50px;
position:fixed;
z-index:3;
bottom:10px;
right:10px;}


.play-left{width:100px;
height:30px;
float:left;
margin:10px 10px;
background-color:#4EA6E5;
opacity:0.6;
font-size:16px;
font-weight:700;
color:red;
line-height:30px;
text-align:center;
border-radius:8px;
cursor:pointer;}



.play-left:hover{opacity:1;}



.play-right{float:right;}




.a{height:645px;
}

.c{background:#404040;
opacity:0.9;
padding:0;
position:fixed;}





.b{background:url(../imges/2.jpg);
background-repeat:repeat-y;
}

.list-group-bg{background:#404040;
border:none;
font-size:16px;
font-weight:600;
text-align:center;
color:#BDBDBD;
cursor:pointer;}


.list-group-bg:hover{color:#fff;}

.list-group-item-click{background:#00F;}





.tbbg{width:26px;
height:26px;
display:inline-block;
}

.tbbg img{width:26px;
height:26px;
border-radius:26px;
margin-left:-20px;}


.item-tu{width:30px;
height:30px;
display:inline-block;
font-size:8px;
color:#000;
text-align:center;
line-height:30px;
background:#fff;
border-radius:30px;
margin-right:15px;}




.word1{
font-size:30px;
padding:10px;
color:#003;
text-shadow:1px 2px #00bfff,2px 4px #87cefa;
font-weight:700;
text-align:center;
margin-top:150px;}

.text{
padding:5px;
font-size:16px;
font-weight:600;
font-color:#000;
text-align:center;
margin-top:20px;}


.second-one{display:none;
position:absolute;}

.g{display:block;}


.second{background:#DDDDDD;}
.second-last{height:600px;}



.second-top{margin-top:0;
text-align:center;}


.second-bottom{margin-top:15px;}


.second-bottom-first-left{
padding:0;
}




.second-bottom-first-right-word1{font-size:22px;
font-weight:700;
color:#009;
padding:5px 0;
padding:0;
margin-top:0;
text-align:center;

}


.second-bottom-first-right-word2{font-size:16px;
font-weight:700;
color:#060606;
padding:2px 0;
text-align:center;
}


.second-bottom-first-right-word3{font-size:13px;
font-weight:400;
color:#333;
text-align:left;
padding:0;}






.second-4{
margin-top:15px;}


.second-4-one:hover{
text-decoration:none;
color:#F00;}


.my-word1{color:#00F;
font-weight:500;
margin-top:5px;}

.my-word2{font-size:14px;
color:#333;}





.second-5{
margin-top:15px;
}

.second-6{
margin-top:15px;
}

.second-5 img{width:100%;
height:200px;
cursor:pointer;
}


.second-6 img{width:100%;
height:200px;
cursor:pointer;
}



.second-7 img{width:100%;
height:200px;
cursor:pointer;
}




.second-click{background:#797979;
}


.bigimg{height:550px;
padding:0;
position:fixed;
top:50px;
left:50px;
display:none;

}





.bigimg img{width:100%;
height:100%;
}


.last-bottom{
margin-top:30px;
}




.last-bottom-pic{padding:0;

}




.last-bottom-word{padding:10px 5px;
font-size:25px;
font-weight:500;
color:#000;

}


.bg{
position:absolute;
top:0;
right:0px;
}

.bg img{width:18px;
height:18px;}










@media screen and (min-width:0px) and (max-width:500px){ .word1{font-size:16px;}

.last-bottom-word{font-size:8px;}
.text{font-size:8px;}
.second-bottom-first-right-word1{font-size:6px;
}
.second-bottom-first-right-word2{font-size:6px;

}
.my-word1{font-size:12px;}
.my-word2{font-size:12px;}
.list-group-bg{font-size:1px;} 
.bg{right:5px;}	
.wz-block{display:block;
text-align:center;
margin-top:15px;}



.bigimg{height:300px;
padding:0;
position:fixed;
top:50px;
left:0px;
display:none;

}







}



.tbbg img{width:26px;
height:26px;
border-radius:26px;
margin-left:0px;}

.item-tu{
margin-left:5px;
}

}


@media screen and (min-width:500px) and (max-width:768px){
	
	 .word1{font-size:25px;}
	.last-bottom-word{font-size:16px;}
	
	.text{font-size:18px;}
	.second-bottom-first-right-word1{font-size:18px;}
	.second-bottom-first-right-word2{font-size:14px;}
	.my-word1{font-size:20px;}
    .my-word2{font-size:16px;}
	
	.list-group-bg{font-size:12px;} 
	.bg{right:5px;}	
	
	}



@media screen and (min-width:768px) and (max-width:992px){
 .word1{font-size:45px;}
 
 .last-bottom-word{font-size:20px;}	
.text{font-size:25px;}
.second-bottom-first-right-word1{font-size:18px;}	
.second-bottom-first-right-word2{font-size:18px;}
.my-word1{font-size:25px;}
.my-word2{font-size:22px;}
.bg{right:-6px;}	
.list-group-bg{font-size:20px;} 	
	
	}
	

@media screen and (min-width:992px) and (max-width:1200px){
 .word1{font-size:50px;}
 
.last-bottom-word{font-size:24px;}
.text{font-size:30px;}
.second-bottom-first-right-word1{font-size:22px;}
.second-bottom-first-right-word2{font-size:20px;}
.second-bottom-first-right-word3{font-size:15px;}

.my-word1{font-size:30px;}
.my-word2{font-size:22px;}
.second-lg{height:645px;}
.bg{right:-20px;}
.list-group-bg{font-size:30px;} 

}	
	

@media screen and (min-width:1200px){ 
.word1{font-size:65px;}

.last-bottom-word{font-size:28px;}

.text{font-size:35px;}

.second-bottom-first-right-word1{font-size:30px;}
.second-bottom-first-right-word2{font-size:25px;}
.second-bottom-first-right-word3{font-size:16px;}


.my-word1{font-size:35px;}
.my-word2{font-size:22px;}
.second-lg{height:645px;}
.bg{right:-30px;}
.list-group-bg{font-size:35px;} 
}



.text-left{text-align:left;}









